---
const projects = [
  {
    title: "NGO Website",
    image: "/project-images/Nassdev.png",
    link: "https://www.nassdev.ng",
    description:
      "Responsive website for an NGO using only html, css and javascript, nothing fancy here!",
  },
  {
    title: "Browser Extension Manager UI",
    image: "/project-images/browser-extension.png",
    link: "https://browser-extension-manager-ui-soln.netlify.app/",
    description:
      "Browser Extension Manager Challenge by Frontend Mentor. HTML, CSS and JS",
  },
  {
    title: "Blog Platform",
    image: "/project-images/blog.png",
    link: "https://blog-api-pjwj.onrender.com",
    description: "A simple Blog website using nodejs mongodb and express.",
  },
  {
    title: "Portfolio Website",
    image: "/project-images/portfolio.png",
    link: "https://abdulhamidsportfolio.netlify.app",
    description: "My porfolio website where i showcase my skills.",
  },
  {
    title: "Confrence Ticket Generator",
    image: "/project-images/conference-ticket-generator.png",
    link: "https://confrence-ticket-generator-solution.netlify.app/",
    description:
      "Confrence Ticket Generator Challenge by Frontend Mentor, HTML, CSS and JS",
  },
];
---

<div
  class="projects-container justify-items-center grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mb-8"
>
  {
    projects.map((project) => (
      <div class="card w-60 p-2 bg-gray-200 rounded-xl transform transition-all hover:-translate-y-2 duration-300 shadow-lg hover:shadow-2xl hover:border">
        <img
          class="h-40 object-cover rounded-xl"
          src={project.image}
          alt={project.title}
        />
        <div class="p-2" />
        <h2 class="font-bold text-lg">{project.title}</h2>
        <p class="text-sm mt-1 mb-1">{project.description}</p>
        <div class="mt-2">
          <a
            href={project.link}
            target="_blank"
            rel="noopener noreferrer"
            role="button"
            class="bg-blue-400 px-3 py-1 rounded-md hover:bg-blue-950 hover:text-white"
          >
            Visit Website
          </a>
        </div>
      </div>
    ))
  }
</div>
